<!DOCTYPE html>
<html>
    <head>
       <title>Home</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <h1>Home</h1>
            <p>Please enter the required information</p>
            <form action='/process' method='post'>
                Your Name: <input type='text' name='name'>
                <input type='submit' value='create user'>
            </form>
        </div>
    </body>
</html>